body {
  background: #e8e4ae;
  color: #176fe0;
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  line-height: 1.6;
}
form {
  background-color: #fff8b0; 
  padding: 20px;
  border: 3px solid blue;
  border-radius: 10px;
  display: inline-block; 
  text-align: left; 
}

form h4 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 8px;
  border: 3px solid blue;
  border-radius: 5px;
  box-sizing: border-box;
}

fieldset {
  border: 3px solid blue;
  margin-top: 10px;
  padding: 10px;
}

button {
  background-color: blue;
  color: yellow;
  border: 3px solid blue;
  padding: 8px 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}